{% extends "base.html" %}

{% comment %} Author: Evan and Oju {% endcomment %}
{% comment %} HTMX: This page uses HTMX to allow users to remove a connection or undo
      a recent skip/like action without reloading the page. The list
      updates instantly when these actions are performed. {% endcomment %}


{% block content %}
<div class="content-wrapper">
  <h2>Your Connections</h2>

  <h3>Connection List</h3>
  
  {% comment %} Show search and filters only when user has connections {% endcomment %}
  <div id="buddy-search-filter-wrapper">
    {% if request.user.buddies.count > 0 %}
      {% include "accounts/partials/buddy_search_filter.html" %}
    {% endif %}
  </div>
  
  <div id="buddy-list-container">
    {% if buddy_list %}
      {% include "accounts/partials/buddy_list.html" %}
    {% else %}
      {% include "accounts/partials/buddy_list_empty.html" %}
    {% endif %}
  </div>

  <h3>Undo Last Actions</h3>
  {% comment %} This container is no longer needed for out-of-band swaps, but is kept for structure. {% endcomment %}
  <div id="undo-list-container">
      {% include "accounts/partials/undo_list.html" %}
  </div>
</div>
{% endblock %}
