{% extends "base.html" %}

{% comment %} Author: Evan {% endcomment %}
{% comment %} HTMX: This page does not contain specific HTMX functionality. It's a standard login form. {% endcomment %}


{% block body_class %}logged-out{% endblock %}

{% block content %}
<div class="logged-out-header">
  <a href="{% url 'home' %}">Charger Circle</a>
</div>

<div class="content-wrapper">
  <h2 style="text-align: center;">Log In</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" style="width: 100%;">Log In</button>
  </form>
  <div style="margin-top: 1rem; text-align: center;">
    <p><a href="{% url 'signup' %}">Don't have an account? Sign Up</a></p>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  </div>
</div>
{% endblock content %}
