{% extends "base.html" %}

{% comment %} Author: Oju {% endcomment %}
{% comment %} HTMX: This page does not contain specific HTMX functionality. It displays
      a list of the study sessions the user has joined and provides a button
      to navigate to the "Create Session" page. {% endcomment %}


{% block content %}
<div class="content-wrapper">
  <h2>Your Sessions</h2>

  <h3>My Sessions</h3>
  {% if my_sessions %}
    <ul class="styled-list">
      {% for session in my_sessions %}
        <li>
          <a href="{% url 'session_detail' pk=session.pk %}">
            {{ session.course.name }}: {{ session.topic }}
          </a>
          <span class="meta">Hosted by {{ session.host.first_name }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="card">
      <p>You haven't joined any sessions yet. Create one below!</p>
    </div>
  {% endif %}
  <div style="margin-top: 1rem;">
    <a href="{% url 'create_session' %}" class="btn btn-secondary">Create a New Session</a>
  </div>

  </div>
{% endblock %}
