<ul class="styled-list">
  {% for buddy in buddy_list %}
    <li class="user-presence-container" data-user-pk="{{ buddy.pk }}">
      <div>
        <a href="{% url 'profile' pk=buddy.pk %}" class="user-name"> {{ buddy.first_name }} {{ buddy.last_name }}
          {% if buddy.pk in online_user_ids %}
            <span class="online-indicator"></span>
          {% endif %}
        </a>
      </div>
      <form hx-post="{% url 'remove_buddy' pk=buddy.pk %}" hx-target="closest li" hx-swap="outerHTML" hx-confirm="Are you sure you want to remove {{ buddy.first_name }} as a buddy?">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-sm btn-danger">Remove</button>
      </form>
    </li>
  {% endfor %}
</ul>
