<ul class="styled-list" id="buddy-list">
  {% for buddy in buddy_list %}
    <li id="buddy-{{ buddy.pk }}" class="buddy-list-item">
      <div class="buddy-info">
        {% if buddy.profile.main_image_url %}
          <img src="{{ buddy.profile.main_image_url }}" alt="{{ buddy.first_name }}" class="buddy-list-avatar">
        {% else %}
          <div class="buddy-list-avatar-placeholder">
            <span>{{ buddy.first_name.0 }}</span>
          </div>
        {% endif %}
        <a href="{% url 'profile' pk=buddy.pk %}" class="user-name"> {{ buddy.first_name }} {{ buddy.last_name }}
          {% if buddy.pk in online_user_ids %}
            <span class="online-indicator"></span>
          {% endif %}
        </a>
      </div>
      <form hx-post="{% url 'remove_buddy' pk=buddy.pk %}" 
            hx-target="#buddy-{{ buddy.pk }}" 
            hx-swap="outerHTML" 
            data-confirm="Are you sure you want to remove {{ buddy.first_name }} as a buddy?">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-sm btn-danger">Remove</button>
      </form>
    </li>
  {% endfor %}
</ul>
